.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
  pointer-events: none;
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}
